Old files/
._~$lot data table.docx
._Table building.xlsx
._PowerEstimationStudiesLibRandomised20171023.xlsx
._PowerEstimationStudiesLib.txt
._PowerEstimationStudiesLib for export.txt
._PowerEstimationReviewData.xlsx
._Pilot data table.docx
._PRISMA 2009 flow diagram (2).doc
._Literature wide power estimation studies in psychology.docx
._.DS_Store
.DS_Store
~$PowerEstimationReviewDataCollection2018.03.25.xlsx
~$PowerEstimationReviewData.xlsx
~$terature wide power estimation studies in psychology.docx
~$ta analysis of Statistical power surveys of psychological reasearch.docx
~$lot data table.docx
~$PowerEstimationReviewPilotData19.12.2017.xlsx
PDFs/
Working Endnote Folder/
*.enlx
*.enl
Statistical Power Analysis Literature Review Library.Data/
